body {
    margin: 0;
    background: #ffe5c5;
    color: #6d452b;
    font-family: "EB Garamond", serif;
    font-weight: 400;
}

.container {
    max-width: 1096px;
    margin: auto;
    padding: 40px;

    .card {
        border-radius: 24px;
        background: no-repeat url(./background.png);
        background-size: 100%;
        background-position-y: center;
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 60px;

        img {
            border-radius: 24px 24px 0 0;
        }
        
        .header {
            text-align: center;
            
            h1, h3 {
                font-family: "Great Vibes", cursive;
                font-weight: 400;
                color: #d2550d;
                margin: 0.1em 0;
            }
        
            h1 {
                font-size: 6.5rem;
            }
        
            h3 {
                font-size: 2rem;
            }
        }

        .subtitle {
            width: 50%;
            text-align: center;
            font-size: 2rem;
            margin: 0.5rem 0 2rem;
        }

        .frame {
            margin-bottom: 2.5em;
        }
    
        .icons {
            width: 75%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-bottom: 20px;

            .icon {
                width: 33%;
                text-align: center;
        
                p {
                    font-size: 1.3rem;
                }
            }
        }
    }
}